.shop{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.products{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
}
.cart-container{
    background: rgba(255, 153, 0, 0.3);

}